html,
body {
  height: 100%;
}

body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(
    180deg,
    #0923af 0%,
    #000000 100%
  );
  color: #f4f5f9;
}

button {
  background: #1646a0;
  color: #f4f5f9;
  padding: 0 45px;
  border: 2px solid #f4f5f9;
  border-radius: 25px;
  height: 50px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  transition: .6s;
}

button:hover {
  background-color: #0923af;
}
